<!DOCTYPE html>
<html>
<head>
  <title>Pocket Cash calculator</title>
  <link rel="stylesheet" type="text/css" href="./public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="./public/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./components/Trip.js" defer></script>
  <script src="./index.js" defer></script>
</head>
<body>

  <!--Vue.js section activation-->
  <div id="app">
    
    <!--Header section-->
    <header>
      <h1>Pocket Cash Calculator</h1>
    </header>
    
    <!--Form to send global trip info-->
    <div class="section" id="StrtForm">
      <div class="container">
        <label for="description">DESCRIPTION</label>
        <input type="text" id="description" v-model.trim="description" />
      </div>

      <div class="container">
        <label for="dateStart">DATE START</label>
        <input type="date" id="dateStart" v-model="dateStart" />
      </div>

      <div class="container">
        <label for="dateEnd">DATE END</label>
        <input type="date" id="dateEnd" v-model="dateEnd" /> 
      </div>

      <div class="container">
        <label for="totalBudject">YOUR CASH</label>
        <input type="number" id="totalCash" min="0" max="999999" v-model="totalCash" />
      </div>

      <div class="container" v-if="startFormIsValid">
        <label for="totalDays">DAYS TOTAL</label>
        <p type="text" id="totalDays"> {{ totalDays }} </p>
      </div>
          
      <div class="container" id="StrtForm_allTrips_container">
        <table id="StrtForm_allTrips">
          <thead>
            <th></th>
            <th>Description</th>
            <th>Trip Start</th>
            <th>Trip End</th>
            <th>Total Cash</th>
            <th></th>
          </thead>
          <tbody>
            
            <tr is = "trip" 
                  v-on:remove = "removeFromDatabase"
                  v-on:show-trip = "getSpecificTrip"
                  v-for = "trip in trips"
                  v-bind:id = "trip.id"
                  v-bind:description = "trip.description"
                  v-bind:datestart = "trip.trip_start"
                  v-bind:dateend = "trip.trip_end"
                  v-bind:totalcash = "trip.total_cash">
            </tr>
            
          </tbody>
        </table>
      </div>

      <div class="container">
        <button v-on:click="resetStrtForm"> Reset</button>
        <button v-on:click="saveToTripDatabase" v-bind:disabled="!startFormIsValid">Save Trip</button>
        <button v-on:click="saveChangesToDatabase" v-bind:disabled="!startFormIsValid">Save Changes</button>
      </div>
       
    </div>

    <!--Section for everyday visualisation-->
    <div class="section" id="SpndVis">

      <div class="container">
        <label for="daysLeft">DAYS LEFT</label>
        <p id="daysLeft"> {{ daysLeft }} </p>
      </div>

      <div class="container">
        <label for="cashLeft">CASH LEFT</label>
        <p id="cashLeft"> {{ cashLeft }} </p>
      </div>

      <div class="container">
        <label for="everydayCash">DAILY BUDJET</label>
        <p id="everydayCash">{{ everydayCash }} </p>
      </div>

    </div>

    <!--Section for everyday spendings adding-->

    <div class="section" id="SpndAdd">

      <div class="container">
          <label for="currentDate">CURRENT DATE</label>
          <p id="currentDate"> {{ dateNow() }} </p>
      </div>

      <div class="container">
          <label for="todaySpendings">TODAYS SPENDINGS</label>
          <input type="number" id="todaySpendings" min="0" max="999999" v-model="todaySpendings" />
      </div>

      <div class="container">
         <button>Add Spending</button>
         <button>Reset</button> 
      </div>

      <div class="container">
        <table>
          <thead>
            <th class="deleteButton"></th>
            <th>ID</th>
            <th>Date</th>
            <th>Total Spendings</th>
            <th class="editButton"></th>
          </thead>
          <tbody>
            <tr class="odd">
              <td>
                <img class="deleteButton" src="public/img/X_Button.svg">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <img class="editButton" src="public/img/icon_money.svg">
              </td>
            </tr>
            <tr>
              <td>
                <img class="deleteButton" src="public/img/X_Button.svg">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <img class="editButton" src="public/img/icon_money.svg">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <!--Section for developer buttons-->
    <div class="section" id="Developer">
      <button id="Developer_button" v-on:click="getAllTrips">Show all Trips</button>
    </div>

  </div>

  <script src="public/js/utils.js"></script>
</body>
</html>