<!DOCTYPE html>
<html>
<head>
  <title>Pocket Cash calculator</title>
  <link rel="stylesheet" type="text/css" href="./public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="./public/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./index.js" defer></script>
</head>
<body>

  <!--Vue.js section activation-->
  <div id="app">
    
    <!--Header section-->
    <header>
      <h1>Pocket Cash Calculator</h1>
    </header>
    
    <!--Form to send global trip info-->
    <div class="section" id="StrtForm">
      <div class="container">
        <label for="description">DESCRIPTION</label>
        <input type="text" id="description" v-model.trim="description" />
      </div>

      <div class="container">
        <label for="dateStart">DATE START</label>
        <input type="date" id="dateStart" v-model="dateStart" />
      </div>

      <div class="container">
        <label for="dateEnd">DATE END</label>
        <input type="date" id="dateEnd" v-model="dateEnd" /> 
      </div>

      <div class="container">
        <label for="totalDays">DAYS TOTAL</label>
        <p type="text" id="totalDays"> {{ totalDays }} </p>
      </div>
          
      <div class="container">
        <label for="totalBudject">YOUR CASH</label>
        <input type="number" id="totalCash" min="0" max="999999" v-model="totalCash" />
      </div>

      <div class="container" id="StrtForm_allTrips_container">
        <table id="StrtForm_allTrips">
          <thead>
            <th></th>
            <th>ID</th>
            <th>Description</th>
            <th>From</th>
            <th>Till</th>
            <th>Total Spendings</th>
            <th class="editButton"></th>
          </thead>
          <tbody>
            <tr class="odd">
              <td>
                <img class="deleteButton" src="public/img/X_Button.svg">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <img class="editButton" src="public/img/icon_money.svg">
              </td>
            </tr>
            <tr>
              <td>
                <img class="deleteButton" src="public/img/X_Button.svg">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <img class="editButton" src="public/img/icon_money.svg">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container">
        <button>Reset</button>
        <button>Save</button>
        <button>Details</button>            
      </div>
       
    </div>

    <!--Section for everyday visualisation-->
    <div class="section" id="SpndVis">

      <div class="container">
        <label for="daysLeft">DAYS LEFT</label>
        <p id="daysLeft"> {{ daysLeft }} </p>
      </div>

      <div class="container">
        <label for="cashLeft">CASH LEFT</label>
        <p id="cashLeft"> {{ cashLeft }} </p>
      </div>

      <div class="container">
        <label for="everydayCash">DAILY BUDJET</label>
        <p id="everydayCash">{{ everydayCash }} </p>
      </div>

    </div>

    <!--Section for everyday spendings adding-->

    <div class="section" id="SpndAdd">

      <div class="container">
          <label for="currentDate">CURRENT DATE</label>
          <p id="currentDate"> {{ dateNow }} </p>
      </div>

      <div class="container">
          <label for="todaySpendings">TODAYS SPENDINGS</label>
          <input type="number" id="todaySpendings" min="0" max="999999" v-model="todaySpendings" />
      </div>

      <div class="container">
         <button>Add Spending</button>
         <button>Reset</button> 
      </div>

      <div class="container">
        <table>
          <thead>
            <th class="deleteButton"></th>
            <th>ID</th>
            <th>Date</th>
            <th>Total Spendings</th>
            <th class="editButton"></th>
          </thead>
          <tbody>
            <tr class="odd">
              <td>
                <img class="deleteButton" src="public/img/X_Button.svg">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <img class="editButton" src="public/img/icon_money.svg">
              </td>
            </tr>
            <tr>
              <td>
                <img class="deleteButton" src="public/img/X_Button.svg">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <img class="editButton" src="public/img/icon_money.svg">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="section" id="Developer">
      <button id="Developer_button" v-on:click="developerPane">Logg</button>
      <button id="Developer_button" v-on:click="saveTrip">Save Trip</button>
      <button id="Developer_button" v-on:click="saveSpending">Save Spend</button>
    </div>

  </div>

  <script src="public/js/utils.js"></script>
</body>
</html>

<!--
    <header>
      
    <form v-on:reset="resetFields" v-on:submit.prevent="submitForm">
      <div class="form-row">
        <div class="form-field">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" v-model.trim="firstName" />
        </div>
        <div class="form-field">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" v-model.trim="lastName" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="email">Email</label>
          <input type="text" id="email" v-model.trim="email" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="ticket-quantity">Ticket Quantity</label>
          <select id="ticket-quantity" v-model.number="ticketQuantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="form-field">
          <legend>Ticket Type</legend>
          <div>
            <input type="radio" id="general" value="general" v-model="ticketType">
            <label for="general">General Admission</label>
          </div>
          <div>
            <input type="radio" id="vip" value="vip" v-model="ticketType">
            <label for="vip">VIP</label>
          </div>
        </div>
      </div>
      <div class="form-row checkbox">
        <fieldset>
          <legend>How did you hear about this event?</legend>
          <div>
            <input type="checkbox" id="friend" value="friend" v-model="referrals">
            <label for="friend">Friend</label>
          </div>
          <div>
            <input type="checkbox" id="publication" value="publication" v-model="referrals">
            <label for="publication">Publication</label>
          </div>
          <div>
            <input type="checkbox" id="social-media" value="social" v-model="referrals">
            <label for="social-media">Social Media</label>
          </div>
        </fieldset>
      </div>
      <div class="form-row vertical">
        <label for="requests">Special requests</label>
        <textarea id="requests" v-model.trim="specialRequests"></textarea>
      </div>
      <div class="form-row vertical agreement checkbox">
        <fieldset>
          <legend>Purchase Agreement</legend>
          <p>I, {{ fullName }}, wish to buy {{ ticketDescription }}. I understand that all ticket sales are final.</p>
          <input type="checkbox" name="agreement" id="agree" v-model="purchaseAgreementSigned" />
          <label for="agree">I Agree</label>
        </fieldset>
      </div>
      <div class="form-row vertical">
        <label for="signature">Signature</label>
        <input id="signature" class="signature" v-model="fullName"/>
      </div>
      <div>
        <button type="reset" class="reset">Reset</button>
        <button type="submit" v-bind:disabled="!formIsValid">Confirm Tickets</button>
      </div>
    </form>
  -->