/* developers styles */

.container > * {
  border: 1px solid red;
}

/* Site-Wide Styles */


header {
  background-color: #f0f8ff;
  
}






/* Start Form styles */

#StrtForm_allTrips_container {
  overflow: scroll; 
}

