/* Global styles */
body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), 
                  rgba(255, 255, 255, 0.6)), 
                    url("../img/abstract-1278008_1920.jpg");   
}

header {
  background-color: #bddbf5;  
}

button {
  background-color: #d9e1e9;
  font-family: "Titillium Web";
  font-weight: 600;
}

input, textarea {
  border: 0px;
  border-radius: 3px;
  font-family: "Titillium Web";
}

input:hover, textarea:hover {
  cursor: pointer;
  background-color: #bddbf5;
}

.container-fluid {
  background-color: #dfedfca8;
}

img {
  height: 14px;
  width: 14px;
}

/* Text styles */
p, h1, h3, label, button, summary {
  font-family: "Titillium Web";
}

p, label {
  font-weight: 700;
  text-shadow: #54aaf0 0 0 3px;
}

p.text-white {
  font-size: 1.1em;
  text-shadow: #000000 0 0 10px;
  font-weight: 700;
}

.everydayCash {
  font-size: 1.3em!important;
}

/* Styling SpendsList visualisation */
.ShortList {
  height: 7.5em;
  overflow-y: auto;
}

.LongList {
  height: 21em;
  overflow-y: auto;
}

/* Styling TripsList visualisation */
.TripList {
  height: 14em;
  overflow-y: auto
}

/* Table styles */
tbody tr:hover {
  background-color: #bddbf5!important;
}

.activeRow {
  background-color: #9fcff8!important;
}

th {
  font-weight: 500
}

td > img:hover {
  cursor: pointer;
}

/* Styles used for computed visualisation */
.inactive {
  display: none;
}